.about p {
    font-family: "Roboto-Thin";
    color: #FFFFFF;
    font-size: 15px;
}
.about-btn {
    background: #28B100;
}
.about-btn:focus, .about-btn:hover {
    background: #28B100;
}
.about-sec-page {
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    width: 100%;
    height: 800px ! important;
}
.custom {
    background: #ffffff;
    padding: 6px 35px;
    color: #3F7163;
    font-size: 17px;
    border: transparent;
    font-family: "BebasNeue-Regular";
}

.custom:hover {
    background: #3F7163;
    color:  #ffffff;
    border: transparent;
}
.this-about-slide p{
    color: #FFFFFF;
    font-family: "Roboto-Regular";
    margin: 5px 0;
}
.this-about-slide.next {
    background: #3F7163;
    padding: 25px 0;
}
.cascade-slider_item.this-about-slide img {
    width: 100%;
}
h4 {
    color: #FFFFFF;
    font-family: "Roboto-Medium";
    text-transform: uppercase;
    margin-bottom: 21px;
    font-size: 29px;
}
section.newsletter-sec {
    padding-top: 110px;
}