body{
    overflow-x: hidden;
}

h3 {

    text-transform: uppercase;
}
section.about-sec {
    width: 100%;
    background-image: unset;
    padding-bottom: 96px;
}
.about-sec-left-leave {
    position: absolute;
    left: -247px;
}
.sea-img::before {
    background-image: unset;
}
.this-img {
    display: none;
}
.pricing-sec {
    background-image: unset;
    padding-bottom: 0;
}
.price-back-this {
    position: absolute;
    left: -118px;
    top: -101px;
}

.price h4 {
    font-size: 73px;
}

.albums h2 {
    font-size: 45px;
}

.album__details {
    padding: 26px 68px;
    height: 396px;
}

img.album__artwork {
    width: 100%;
    height: 396px;
}

.img-text {
    left: 153px;
    width: 436px;
    height: 300px;
}

button.btn.btn-primary.room-btn {
    padding: 10px 45px;
}

.price span {
    font-size: 20px;
}

.album p {
    font-size: 15px;
}
.this-event-blog{
    text-align: center;
}
.events-heading {
    border-bottom: 1px solid #3F7163;
    width: 9%;
}
.events-card-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.books-detail {
    margin-bottom: 30px;
}
button.accordiontwo h6 {
    display: block;
}
.slide-up {
    padding-bottom: 162px;
    text-align: center;
}
.gallery-heading h2 {
    font-size: 52px;
}
.sea-img img {
    width: 100%;
}
.whale-img img {
    height: 594px;
}
.life-style {
    background-image: url(../img/facilities.png);
    padding-top: 213px;
    padding-bottom: 250px;
    height: auto;
}
.lifestyle-heading {
    padding-top: 209px;
}
.abouts-gallery {
    padding-top: 66px;
    padding-bottom: 150px;
}
.abouts-gallery {
    padding-top: 122px;
    padding-bottom: 102px;
}
.detail-blog-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
}

.this-blog-gallery {
    width: 52%;
    padding-top: 33px;
}
.lifestyle-heading h2 {
    font-size: 88px;
}
.gallery-image img {
    width: 100%;
    height: 794px;
}
.this-blog-gallery p {
    font-size: 19px;
}
.slider_box {
    margin-top: 95px;
}
.gallery-sec {
    padding-top: 190px;
    padding-bottom: 77px;
}
@media (max-width: 1450px) {
    .life-style {
        height: auto;
    }
}
@media (max-width: 1024px) {
.price h4 {
    font-size: 55px;
}
.gallery-image img {
    width: 100%;
    height: 100%;
}
.whale-img img {
    height: 100%;
}
}
@media (max-width: 880px) {
    .albums h2 {
        font-size: 38px;
    }
    .price h4 {
        font-size: 36px;
    }
    .album__details {
        height: 450px;
    }
    img.album__artwork {
        height: 446px;
    }
}
@media (max-width: 768px) {
.life-style .slider_box {
    padding: 10px 20px;
}
.gallery-heading h2 {
    font-size: 38px;
}
.gallery-sec {
    padding-top: 78px;
    padding-bottom: 43px;
}
.this-blog-gallery {
    width: 100%;
}
.lifestyle-heading h2 {
    font-size: 54px;
}
}
@media (max-width: 590px) {
    .img-text {
        left: 60px;
        width: 154px;
        height: 216px;
    }
    
    .album p {
        font-size: 8px;
    }
    
    .albums h2 {
        font-size: 19px;
    }
    
    .price h4 {
        font-size: 28px;
    }
    
    .album__details {
        padding: 10px 20px;
        height: 300px;
    }
    .this-right-leave {
        display: none;
    }
    h3 {
        font-size: 44px;
    }
    .life-style-gallery-btn {
        width: 36%;
    }
    img.album__artwork {
        height: 303px;
    }
    .albums {
        overflow-x: hidden !important;
        width: 96%;
    }
}
@media (max-width: 375px) {
img.album__artwork {
    width: 100%;
    height: 303px;
}
}
.accordion {
    width: 100%;
    background-position: 100% 0%;
    background-size: cover;
    background-image: url(../img/blog-live-event.png);
    margin: 42px 0;
}
.events-sec h2 {
    font-family: "Roboto-Medium";
    color: #FFFFFF;
    font-size: 50px;
}
.events-sec h6 {
    font-family: "roboto-light";
    color: #FFFFFF;
    font-size: 30px;
}
.events-sec h2 {
    font-family: "Roboto-Medium";
    color: #FFFFFF;
    font-size: 50px;
}
.events-sec h4 {
    font-family: roboto-light;
    font-size: 57px;
    text-transform: uppercase;
}
.rights-text {
    position: relative;
    left: 15%;
}
.accordiontwo {
    width: 100%;
    background-position: 100% 0%;
    background-size: cover;
    background-image: url(../img/blog-camping-live.png);

}
.accordiontwo .arrowss {
    text-align: right;
    color: #FFFFFF;
    padding-left: 21px;
}
.footer {
    background-image: url(../img/blog-footer.png);
}
.contactus-detail {
    width: 26%;
}
.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-deatil-about-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-form {
    padding-top: 33px;
}
.footer-detail {
    text-align: center;
    padding-top: 198px;
}
.footer-logo img {
    width: 156px;
}
.sea-img img {
    position: relative;
    top: -10px;
}
.champ-img {
    margin-left: 4px;
    margin-bottom: 0;
    margin-top: 2px;
}
.whale-img img {
    height: 586px;
}
.footer h3 {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
    font-size: 46px;
    margin-bottom: 25px;
}
.events-heading h3 {
    font-weight: 600;
}