body{
    width: 100%;
    overflow-x: hidden;
}
.activities-sec {
    background-image: url(../img/feature.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 859px;
}
.activities-heading {
    padding-top: 293px;
    text-align: center;
}

.activities-heading h2 {
    font-family: "Fashion-Stamp";
    color: #FFFFFF;
    font-size: 63px;
    text-transform: uppercase;
}
.activities-heading p {
    font-family: "Roboto-Thin";
    color: #FFFFFF;
    font-size: 15px;
}

/* Fratuted Section Start Here */
section.feature_section .top_heading.text-center h1 {
    text-transform: uppercase;
    font-size: 52px;
    font-family: "Fashion-Stamp";
    color: #3F7163;
}
.featured_start_here .single_feature .featured_post_text .text h1 {
    color: #3F7163;
    font-family: 'Fashion-Stamp';
    font-size: 50px;
}

.featured_start_here .single_feature .featured_post_text .text p {
    color: #828282;
    font-family: 'Roboto-Regular';
    font-size: 18px;
}

.featured_start_here .single_feature .featured_post_text {
    padding-right: 83px;
    width: 76%;
    padding-left: 52px;
}
.icon_facilities {
    display: flex;
    gap: 24px;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 85px;
}
.sinle_facility .swim {
    max-width: 67px;
    max-height: 41px;
}
.icon_facilities .sinle_facility img {
    display: block;
    max-width: 54px;
    max-height: 41px;
}

.icon_facilities .sinle_facility {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}
.icon_facilities .sinle_facility span {
    display: block;
    color: #3F7163;
    font-size: 17px;
    font-family: 'Roboto-Regular';
}
.single_feature {
    display: flex;
    padding-top: 89px;
    padding-bottom: 60px;
    position: relative;
}

.single_feature figure.featured_image {
    width: 43%;
}
.single_feature:not(:first-child) {
    border-top: 2px solid #3F7163;
}

.for_leaf1 {
    position: absolute;
    left: -71px;
    top: 26px;
}

.for_leaf1 img {
    max-width: 366px;
}
.for_leaf2 {
    position: absolute;
    left: 41%;
    top: -49px;
}
.for_leaf2 {
    position: absolute;
    left: 40%;
    top: -59px;
}

.top_heading.text-center {
    padding-top: 91px;
}
.for_leaf2 img {
    max-width: 117px;
}
.for_leaf3 {
    position: absolute;
    right: -85px;
    top: 5px;
}

.for_leaf3 img {
    max-width: 252px;
}
.for_leaf4 {
    position: absolute;
    right: -80px;
    bottom: 70px;
}

.for_leaf4 img {
    max-width: 262px;
}
.for_leaf5 {
    position: absolute;
    top: -25px;
    right: -38px;
}
.for_leaf5 img {
    max-width: 255px;
}
section.feature_section {
    width: 100%;
    overflow-x: hidden;
}
.this-mountain {
    position: absolute;
    top: -80px;
}
.feature-mountain-text{
    background-image: url(../img/f2.png);
    background-repeat: no-repeat;
    background-position: right;
}
@media (max-width: 1250px){
    .featured_start_here .single_feature .featured_post_text {
        padding-right: 45px;
        width: 76%;
        padding-left: 35px;
    }
    .featured_start_here .single_feature .featured_post_text .text p {

        font-size: 14px;
    }
    .featured_start_here .single_feature .featured_post_text .text h1 {
        font-size: 34px;
    }
    .icon_facilities {
        margin-top: 34px;
    }
    .featured_start_here .single_feature .featured_post_text .text p {
        font-size: 15px;
    }
}
@media (max-width: 991px){
    .single_feature figure.featured_image {
        width: 50%;
    }
    
    .featured_start_here .single_feature .featured_post_text {
        width: 50%;
    }
    .for_leaf1,
    .for_leaf2,
    .for_leaf3,
    .for_leaf4,
    .for_leaf5{
        display: none;
    }
}
@media (max-width: 1024px){
    .icon_facilities .sinle_facility img {
        max-width: 40px;
        max-height: 27px;
    }
    .icon_facilities {
        margin-top: 0;
    }
    .header li {
        padding: 10px 8px;
    }
}
@media (max-width: 768px){
    .single_feature{
        flex-direction: column;
    }
    .single_feature figure.featured_image{
        width: 100%;
    }
    h1{
        font-size: 36px !important;
    }
    .featured_start_here .single_feature .featured_post_text {
        padding: 23px 15px !important;
        width: 100%;
    }
    .activities-heading {
        text-align: center;
        padding: 172px 25px 0px;
    }
    .activities-heading p {
        font-family: "Roboto-Thin";
        color: #FFFFFF;
        font-size: 12px;
    }
    .activities-heading h2 {
        font-family: "Fashion-Stamp";
        color: #FFFFFF;
        font-size: 47px;
        text-transform: uppercase;
    }
    .slide-this{
        display: none;
    }
    .icon_facilities .sinle_facility img {
        max-width: 43px;
        max-height: 30px;
    }
    .icon_facilities .sinle_facility {
        gap: 13px;
    }
}