.news-sec {
    background-image: url(../img/news-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding-bottom: 174px;
}

.news-heading {
    padding-top: 271px;
    text-align: center;
}

h2 {
    font-family: "Fashion-Stamp";
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 52px;
}

p {
    font-family: "Roboto-Thin";
    color: #FFFFFF;
    font-size: 13px;
}

h3 {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
    font-size: 22px;
}

.left-text {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
    font-size: 18px;
}

.right-text {
    font-size: 15px;
}

span {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
}

.weather-text {
    display: flex;
    justify-content: space-between;
}

.hotel-weather {
    background: #ffffff1f;
    padding: 10px 20px;
    width: 100%;
    border-radius: 8px;
    height: 140px;
}

.hotel-weather img {
    width: 27%;
}

.weather-wrappers {
    background-color: #ffffff5c;
}

.hotel-weathes {
    background: #ffffff1f;
    padding: 14px 20px;
    width: 100%;
    border-radius: 8px;
}

.hotel-weathes img {
    width: 27%;
}

.weather-wrapper {
    background-color: #ffffff5c;
    border-radius: 17px;
}

h4 {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
}
.news-leave {
    background-image: url(../img/news-back-leave.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    height: 276px;
    z-index: 1;
}
.news-leave-sec h4 {
    color: #515151;
    font-family: "Roboto-Bold";
    font-size: 15px;
}
.news-leave-sec h3{
    font-family: "Roboto-Black";
    color: #515151;
}
.news-leave-sec h6{
    color: #515151;
    font-family: "Roboto-Medium";
}
.news-leave-sec p{
    color: #515151;
    font-family: "Roboto-Medium";
    font-size: 10px;
}
.music-btn{
    padding: 5px 54px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: "BebasNeue-Regular";
    background-image: url(../img/music-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: transparent;
    background-position: center;
    border-radius: 0;
}

.music-btn:hover {
    color: #3F7163;
    background-color: transparent !important;
    border-color: transparent;
}
.music {
    background: #E8E8E8;
}
.music-text {
    padding: 15px 20px;
}
.news-box {
    padding-top: 84px;
}
@media (max-width: 1124px) {
    h3 {
        font-size: 21px;
    }
    .hotel-weather {
        height: 131px;
    }
}
@media (max-width: 1024px) {
    h3 {
        font-size: 13px;
    }
    .news-leave-sec h3 {
        font-size: 13px;
    }
    .news-leave-sec p {
        font-size: 9px;
    }
    .music-text {
        padding: 0px 20px;
    }
    .abouts-music-text {
        margin-bottom: 20px;
    }
}
@media (max-width: 880px) {
    .hotel-weather {
        padding: 23px 20px;
    }
    h4 {
        font-size: 16px;
    }
    .music-news-img img {
        height: 391px;
    }
    }
@media (max-width: 768px) {
    .news-leave-sec h4 {
        font-size: 10px;
    }
    .news-leave-sec h6 {
        font-size: 9px;
    }
    .music-news-img {
        padding-top: 34px;
    }
    .news-leave-sec p {
      margin-bottom: 2px;
        font-size: 7px;
    }
    .abouts-music-text {
        padding: 10px 0;
    }
    .news-leave {
        height: 164px;
    }
    button.news-btn {
        padding: 10px 6px;
    }
    .news-wrapper h4 {
        font-size: 11px;
    }
    h4 {
        font-size: 17px;
    }
    h3 {
        font-size: 10px;
    }
    .music-news-img img {
        height: 285px;
    }
}

@media (max-width: 690px) {
    .hotel-weather {
        width: 56%;
        margin: 10px 0;
        text-align: center;
    }
    .hotel-weathes {
        width: 54%;
        margin: 10px;
        text-align: center;
    }
    .about-new-weather-info{
        text-align: -webkit-center;
    }
    .weather-wrapper {
        background-color: #ffffff5c;
        border-radius: 17px;
        margin-bottom: 231px;
    }
    .hotel-weather img {
        width: 19%;
    }
}
@media (max-width: 590px) {
    .weather-wrapper {
        background-color: transparent;
        border-radius: 17px;
    }
    .hotel-weathes {
        margin: 10px 0;
    }
    .hotel-weather {
        margin: 10px 0;
    }
    .weather-wrapper {
        padding-bottom: 226px;
    }
    p {
        font-size: 9px;
    }
    .music-news-img {
        margin: 10px 0;
    }
    .abouts-music-text {
        padding: 12px;
        text-align: center;
    }
    .news-leave-sec h3 {
        font-size: 15px;
    }
    .news-leave-sec h6 {
        font-size: 13px;
    }

}