@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../fonts/BebasNeue\ Regular.otf);
}

@font-face {
    font-family: "roboto-light";
    src: url(../fonts/roboto-light_[allfont.net].ttf);
}

@font-face {
    font-family: "Fashion-Stamp";
    src: url(../fonts/Fashion\ Stamp.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}


@font-face {
    font-family: "Roboto-Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

/* Prelaoder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #203932;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* leave keyframe css start */
.up-down {
    animation: up-down linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: up-down linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: up-down linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: up-down linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: up-down linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

@keyframes up-down {
    0% {
        transform: translate(1px, 20px);
    }

    24% {
        transform: translate(1px, 30px);
    }

    50% {
        transform: translate(1px, 12px);
    }

    74% {
        transform: translate(1px, 22px);
    }

    100% {
        transform: translate(1px, 22px);
    }
}

@-moz-keyframes up-down {
    0% {
        -moz-transform: translate(1px, 20px);
    }

    24% {
        -moz-transform: translate(1px, 30px);
    }

    50% {
        -moz-transform: translate(1px, 12px);
    }

    74% {
        -moz-transform: translate(1px, 22px);
    }

    100% {
        -moz-transform: translate(1px, 22px);
    }
}

@-webkit-keyframes up-down {
    0% {
        -webkit-transform: translate(1px, 20px);
    }

    24% {
        -webkit-transform: translate(1px, 30px);
    }

    50% {
        -webkit-transform: translate(1px, 12px);
    }

    74% {
        -webkit-transform: translate(1px, 22px);
    }

    100% {
        -webkit-transform: translate(1px, 22px);
    }
}

@-o-keyframes up-down {
    0% {
        -o-transform: translate(1px, 20px);
    }

    24% {
        -o-transform: translate(1px, 30px);
    }

    50% {
        -o-transform: translate(1px, 12px);
    }

    74% {
        -o-transform: translate(1px, 22px);
    }

    100% {
        -o-transform: translate(1px, 22px);
    }
}

@-ms-keyframes up-down {
    0% {
        -ms-transform: translate(1px, 20px);
    }

    24% {
        -ms-transform: translate(1px, 30px);
    }

    50% {
        -ms-transform: translate(1px, 12px);
    }

    74% {
        -ms-transform: translate(1px, 22px);
    }

    100% {
        -ms-transform: translate(1px, 22px);
    }
}

/* leave keyframe css end */
/* .logo-box{
    animation-name: myanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: all 0.5s;
  }
@keyframes myanimation {
    0%   {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1)
    }
    50%  {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2)
    }
    100%  {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5)
    }
  } */

/* header start here */
.header .fa {
    color: #FFFFFF;
    font-size: 23px;
    font-family: "fontAwesome";
}

.header {
    font-family: "BebasNeue-Regular";
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.contact-detail a {
    color: #FFFFFF;
    font-size: 12px;
}

.contact-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.num a {
    display: block;
}

.icons {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-evenly;
}

.header li a {
    display: inline;
    color: #FFFFFF;
}

.header li {
    display: inline;
    padding: 10px 12px;
}

.logo-box img {
    position: relative;
    top: -35px;
}

.nabar ul {
    padding: 0;
}

.header-nav {
    padding-top: 36px;
}

.phones {
    margin-left: 36px;
}

.logo-box {
    width: 100%;
    text-align: center;
    margin-top: 13px;
}

.logo-box img {
    width: 59%;
}

/* header end here */
/* Mobile Header  */
/* responsive header start here */
.mobile-header {
    width: 25%;
    height: 100%;
    position: fixed;
    background: #ffffffc2;
    top: 0;
    overflow-y: scroll;
    z-index: 9999999999;
    /* z-index: 9; */
    right: 0;
    padding: 30px 10px 0px 10px;
    transition: 0.7s;
    transform: translateX(100%);
    box-shadow: 0px 0px 7px #ddd;
    display: none;
}

@media (max-width: 991px) {
    .mobile-header {
        display: initial;
    }
}

#header .mobile-header.show {
    transform: translateX(0%);
}

#header .mobile-header ul.mobile-nav {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

#header .mobile-header .cancel {
    background: #000000;
    width: 35px;
    text-align: center;
    height: 34px;
    line-height: 35px;
    margin: 0px 20px 20px auto;
    color: #fff;
}

#header .mobile-header ul.mobile-nav li.nav-item {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #dddddd4a;
}

#header .mobile-header ul.mobile-nav li.nav-item a {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
}

.all-nav li.for-contact-brn-header button.btn {
    font-family: "Montserrat-Medium";
    font-size: 15px;
    font-weight: 800;
    border-radius: 0px;
    padding: 9px 23px;
    background-color: #ffffff;
}

#header li.normal-nav-items.nav-link a {
    color: #3F7163;
    font-family: "BebasNeue-Regular";
}

#header .canvas-icon i {
    font-size: 24px;
    background: transparent;
    padding: 5px 7px;
    color: #fff;
    display: none;
}

.responsive-contact-btn a {
    display: unset;
    padding: 9px 33px !important;
}

header li.for-contact-brn-header {
    position: relative;
}

@media (max-width: 991px) {
    #header .nav {
        display: none;
    }

    .navbar-items {
        display: none !important;
    }

    #header .canvas-icon i {
        display: block;
    }

    #header .canvas-icon {
        display: initial !important;
        background: transparent;
        color: yellow;
        z-index: 999999;
    }

    .canvas-icon.text-right {
        position: absolute;
        right: 16px;
        top: 23px;
    }
}

@media (max-width: 768px) {
    .logo-box img {
        max-width: 89px;
    }
}

@media (max-width: 575px) {
    #header .mobile-header {
        width: 35%;
    }

    li.normal-nav-items.nav-link a {
        color: #3F7163;
    }
}

@media (max-width: 480px) {
    #header .mobile-header {
        width: 55%;
    }

    li.normal-nav-items.nav-link a {
        color: #3F7163;
    }
}

@media (max-width: 991px) {
    .col-xl-5.col-lg-5.col-md-0.ml-auto.d-none-991 {
        display: none;
    }

    .header {
        font-family: "BebasNeue-Regular";
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        padding-top: 40px;
    }

    .col-md-4.responsive_nav_class {
        display: none;
    }

    .logo-box {
        text-align: left;
    }
}

@media (max-width: 1024px) {
    .header li {
        display: inline;
        padding: 10px 13px;
    }

    .contact-detail a {
        color: #FFFFFF;
        font-size: 9px;
    }
}

/* responsive header start here */



/* Mobile Header  */
/* header end here  */

/* wester-sec start here */

.wester-sec {
    background-image: url(../img/homebanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    width: 100%;
    height: 100% ! important;
}

.wester-sec .wester-heading {
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    padding-top: 226px;
}

.inner-banner {
    color: #ffffff;
}

.inner-banner {
    color: #ffffff;
    font-family: "Fashion-Stamp";
    font-weight: 400;
    text-align: center;
}

.inner-banner h2 {
    font-size: 47px;
    margin-bottom: 0;
}

.inner-banner h1 {
    font-size: 82px;
    margin-bottom: 0;
}

.inner-banner h3 {
    font-size: 26px;
    margin-bottom: 0px;
    color: #ffffff;
}

.books-detail {
    display: flex;
    padding: 30px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    width: 100%;
    background-color: #ffffff2e;
    margin-bottom: 30px;
    margin-top: 74px;
    backdrop-filter: blur(8px);
}

.slide-up {
    padding-bottom: 162px;
    text-align: center;
}
.slide-up a{
    transition: 1s ease !important;
}
.books-detail span {
    font-size: 44px;
}

.books-detail h3 {
    color: #FFFFFF;
    font-family: "BebasNeue-Regular";
    font-size: 28px;
}

.arrival svg {
    position: absolute;
    margin-top: 8px;
    margin-left: 7px;
    color: #FFFFFF;
}

input.empt {
    color: #FFFFFF;
    background-color: transparent;
    width: 100%;
    padding: 10px 34px;
    position: relative;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    text-align: center;
    border-right: 0;
}

.arrival .form-control:focus {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: none;
}

.books-detail .arrival input.empt::placeholder {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
    background-color: transparent;
}

.arrival .selt {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
    width: 100%;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 34px;
    border-right: 0;
    border-bottom: 1px solid #ced4da;
    appearance: none;
    background-image: url(../img/select.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 26px;
}
.reserve-btn {
    width: 100%;
    background-color: #FFFFFF;
    color: #3F7163;
    font-family: "BebasNeue-Regular";
    border-color: transparent;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0;
}
.reserve-btn:hover {
    color: #fff;
    background-color: #3F7163;
    border-color: #3F7163;
}

@media (max-width:590px) {
    .books-detail {
        flex-direction: column;
    }

    .inner-banner h1 {
        font-size: 39px;
    }

    .inner-banner h2 {
        font-size: 40px;
    }
}

/* wester-sec end here */
/* about-sec start here  */

section.about-sec {
    width: 100%;
    background-image: url(../img/about-backg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 116px;
    padding-bottom: 96px;
}

h3 {
    color: #3F7163;
    font-family: "Fashion-Stamp";
    font-size: 51px;
    margin-bottom: 0;
}

.about-text {
    /* text-align: center; */
    justify-content: center;
    display: flex;
    align-items: center;
}

p {
    color: #828282;
    font-family: "Roboto-Thin";
    font-size: 13px;
}

.this-text {
    text-align: center;
    width: 70%;
}
.this-text-slider {
    text-align: center;
    width: 100%;
}

.champ-img {
    margin-left: 7px;
    margin-bottom: 11px;
    margin-top: 1px;
}

.whale-img img {
    height: 573px;
}

.sea-img::before {
    content: "";
    width: 100%;
    height: 440px;
    background-image: url(../img/left1.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* padding-top: 116px; */
    left: -357px;
    position: absolute;
    top: -45px;
}

/* .sea-img::after {
    content: "";
    width: 100%;
    height: 200px;
    background-image: url(../img/leave.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 76%;
    right: 0;
    left: 92%;
} */
.this-img {
    background-image: url(../img/leave.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 30%;
    right: -70px;
    height: 108px;

    position: absolute;
}

.about-btn {
    text-align: center;
    padding: 41px 0;
    border-bottom: 1px solid #828282;
}

.about-btn {
    padding: 5px 54px;
    background-color: transparent;
    background-image: url(../img/btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: transparent;
    background-position: center;
    border-radius: 0;
}

.about-btn-detail {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.about-btn-detail .abt-btn {
    color: #ffffff;
    font-family: "BebasNeue-Regular";
    outline: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.abt-btn:hover {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent;
}

@media (max-width: 590px) {
    .this-img {
        width: 36%;
        right: 0;
        bottom: -119px;
        height: 104px;
    }

    .whale-img {
        text-align: center;
    }

    .sea-img {
        padding: 0 14px;
    }

    img.img-fluid.champ-img {
        margin-left: 0;
    }

    section.about-sec {
        padding-top: 0;
    }

    .whale-img img {
        height: auto;
    }
}



/* about-sec End Here  */
/* pricing-sec start here  */
.pricing-sec {
    background-image: url(../img/pricing.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 177px;
}

.pricing-heading {
    text-align: center;
    padding-bottom: 30px;
}

.album__details {
    text-align: center;
    padding: 18px 0;
    box-shadow: 0px 3px 9px 8px rgba(0, 0, 0, 0.57) inset;
    -webkit-box-shadow: 0px 3px 9px 8px rgb(205 205 205 / 57%) inset;
    -moz-box-shadow: 0px 3px 9px 8px rgba(0, 0, 0, 0.57) inset;
}

/* Grid inside grid - album cards also use grid for layout setup */
.album {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    font-weight: 100;
    padding: 0;
    margin: 0;
}


/* Important step - image will spill over the container if width is not declared explicitly */
.album__artwork {
    width: 100%;
    height: 277px;
}


/* Some additional text styling */
.albums h2 {
    color: #3F7163;
    font-size: 22px;
    font-weight: 600;
    font-family: "BebasNeue-Regular";
}
.albums p {
    font-family: "Roboto-Medium";
    font-size: 10px;
    color: #828282;
    margin-bottom: 3px;
}

.checked {
    color: orange;
}

.price span {
    font-family: "roboto-light";
    color: #515151;
}

.price h4 {
    color: #3F7163;
    font-family: "BebasNeue-Regular";
    font-weight: 600;
    font-size: 29px;
}

.room-btn {
    background-color: #57C8A8;
    color: #FFFFFF;
    font-family: "BebasNeue-Regular";
    border-color: transparent;
    padding: 4px 27px;
    border-radius: 0;
}

.room-btn:hover {
    background-color: #FFFFFF;
    color: #57C8A8;
}

.img-text {
    position: absolute;
    background: #3f7163ab;
    width: 197px;
    height: 198px;
    top: 41px;
    left: 44px;
    visibility: hidden;
}
.img-room:hover .img-text{
visibility: visible;
}

.img-room:hover .img-text {
    visibility: visible;
}

.img-uppertext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 590px) {
    .album__artwork {
        width: 100%;
        height: 232px;
    }

    .album__details {
        padding: 1px 0;
        height: 292px;
    }

    .albums p {
        font-family: "Roboto-Medium";
        font-size: 11px;
        color: #000000;
        margin-bottom: 3px;
    }

    .albums {
        margin-top: 10px;
    }

    .img-text {
        top: 11px;
        left: 7px;
        width: 187px;
        height: 194px;
    }
}

@media (max-width: 768px) {
    .album__details {
        padding: 31px 0;
    }

    .gallery-image {
        text-align: center;
        margin: 10px 0;
    }

    .lifestyle-heading h2 {
        font-size: 34px;
    }

    .lifestyle-heading {
        padding-top: 190px;
    }

    .life-style {
        padding-bottom: 278px;
    }

    .movie-card h2 {
        font-size: 21px !important;
    }

    .lefts-text {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 980px) {
    .albums h2 {
        font-size: 14px;
        margin-top: 10px;
    }


    .albums p {
        font-size: 9px;
        margin-bottom: 3px;
    }

    .album__artwork {
        width: 100%;
        height: 270px;
    }

    .events-info-box p {
        font-size: 10px !important;
    }

    .events-sec h4 {
        font-size: 12px !important;
    }

    .events-sec h6 {
        font-size: 8px !important;
    }

    .movie-card h2 {
        font-size: 11px !important;
    }

    .movie-card {
        padding-top: 76px;
    }

    .news-wrapper h4 {
        font-size: 14px;
    }

    button.news-btn {
        font-size: 10px;
        padding: 10px 4px;
    }

    .img-text {
        width: 165px;
        height: 192px;
        top: 41px;
        left: 6px;
    }

    .album__artwork {
        width: 100%;
        height: 290px;
    }

    .whale-img img {
        height: auto;
    }

}



/* pricing-sec End Here  */
/* Lifestyle-sec start here */
.life-style {
    background-image: url(../img/lifestyle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 120px;
}

.lifestyle-heading h2 {
    color: #ffffff;
    font-family: "Fashion-Stamp";
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.lifestyle-heading {
    padding-top: 136px;
    padding-bottom: 33px;
    text-align: center;
}

.lifestyle-heading p {
    font-size: 15px;
}

.life-style h3 {
    color: #FFFFFF;
    font-family: "BebasNeue-Regular";
}

.content-wrapper {
    /* text-align: center; */
    width: 80%;
}

.life-style p {
    font-family: "Roboto-Thin";
    color: #FFFFFF;
    font-size: 11px;
}

.life-icon {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.icon-detail {
    padding: 0 14px;
    text-align: center;
}

.icon-detail .fa {
    font-size: 29px;
}

.icon-detail .fa {
    color: #ffffff;
    font-size: 20px;
}

.life-style .slider_box {
    background: #ffffff52 !important;
    backdrop-filter: brightness(0.5);
    border-radius: 220px 220px 190px 220px;
}

.read .btton {
    background: transparent;
    border: transparent;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "BebasNeue-Regular";
}


.page {
    position: relative;
    left: 0;
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
    bottom: 0;
}

.gallery-heading h2 {
    font-family: "Fashion-Stamp";
    color: #ffffff;
    font-weight: 500;
    font-size: 66px;
    text-transform: uppercase;
}

.gallery-sec {
    padding-top: 142px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-heading {
    text-align: center;
    width: 57%;
}

.gallery {
    padding: 50px 0;
    overflow-x: hidden;
}

.abouts-gallery {
    padding-top: 31px;
    padding-bottom: 102px;
    display: flex;
    justify-content: center;
}

.life-style-gallery-btn {
    /* padding: 0 54px; */
    background-color: transparent;
    background-image: url(../img/galley-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: transparent;
    background-position: center;
    border-radius: 0;
    text-align: center;
    width: 9%;
}

.gallery-btn {
    font-size: 14px;
    color: #3F7163;
    font-family: "BebasNeue-Regular";
}

.gallery-btn:hover {
    color: #3F7163;
    background-color: transparent !important;
    border-color: transparent;
}

.gallery-image {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-image img {
    width: 100%;
    height: 100%;
}

.for_overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    font-family: "BebasNeue-Regular";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    background: #ffffff6b;
    transition: 0.6s all;
}

.for_overlay span {
    color: #FFFFFF;
}

.gallery-image:hover .for_overlay {
    transform: unset;
}

@media (max-width: 590px) {
    .life-style .slider_box {
        background: transparent !important;
        backdrop-filter: none;
        border-radius: 0;
    }

    .lifestyle-heading h2 {
        font-size: 35px;
    }

    .life-style {
        padding-top: 198px;
        padding-bottom: 298px;
    }

    .gallery {
        padding: 0;
    }

    .gallery-sec {
        padding: 10px;
    }

    .gallery-image {
        text-align: center;
        margin: 10px;
    }
}

@media (max-width: 900px) {
    .life-style .slider_box {
        background: #ffffff52 !important;
        backdrop-filter: brightness(0.5);
        border-radius: 0;
    }
}

/* Lifestyle-sec End Here  */
/* events-sec start  Here */
.events-sec h2 {
    font-family: "Roboto-Medium";
    color: #FFFFFF;
    font-size: 24px;
}

.events-sec h4 {
    font-family: "roboto-light";
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
}
.events-sec h6 {
    font-family: "roboto-light";
    color: #FFFFFF;
    font-size: 12px;
}

.accordion:focus {
    outline: none !important;
}

.crd-btn {
    width: 100%;
}

.arrowss {
    text-align: right;
    color: #FFFFFF;
}

.lefts-text {
    text-align: left;
    padding-left: 38px;
    border-right: 1px solid #FFFFFF;
}

.rights-text {
    text-align: left;
    margin-left: 29px;
    color: #ffffff;
}

.this-card {
    display: flex;
    align-items: center;
}

.crd-btnk:hover {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    border-color: transparent;
}

.accordion {
    width: 100%;
    background-image: url(../img/new-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    padding: 20px 0;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordiontwo {
    width: 100%;
    background-image: url(../img/event-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    padding: 20px 0;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordiontwo .arrowss {
    text-align: left;
    color: #FFFFFF;
    padding-left: 21px;
}

.accordiontwo:focus {
    outline: none !important;
    outline: none !important;
}

button.accordion.active i.fas::before {
    content: "\f106";
}

button.accordiontwo.active i.fas::before {
    content: "\f106";
}

.events-heading {
    border-bottom: 1px solid #3F7163;
    width: 44%;
}

.events-heading h3 {
    color: #3F7163;
    font-family: "BebasNeue-Regular";
    margin-bottom: 0;
    line-height: 1;
}

section.events-sec {
    padding-top: 100px;
    padding-bottom: 93px;
}

.events-info-box {
    background-image: url(../img/events-box.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 360px;
    padding: 10px 20px;
}

.event-info span {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    width: 20%;
}

.events-wrapper {
    width: 100%;
    padding: 11px 20px;
}

.this-event {
    padding-top: 20px;
}

.event-info h2 {
    color: #FFFFFF;
    font-family: "Fashion-Stamp";
}

.events-info-box p {
    font-family: "roboto-light";
    color: #FFFFFF;
    font-size: 12px;
}

.this-event .info {
    color: #99EF16;
    font-family: "Roboto-Medium";
}

.this-info {
    color: #FFFFFF;
    font-family: "Roboto-Medium";
}


@media (max-width: 590px) {
    section.events-sec {
        padding-top: 0;
        padding-bottom: 93px;
    }

    .lefts-text {
        padding-left: 0;
        text-align: center;
    }

    .this-card {
        align-items: center;
    }

    .events-sec h2 {
        font-size: 19px;
    }

    .rights-text {
        margin-left: 18px;
    }

    .events-sec h4 {
        font-size: 12px;
    }

    .events-sec h6 {
        font-size: 9px;
    }

    .accordiontwo .arrowss {
        text-align: right;
        padding-right: 21px;
    }

    .arrowss {
        text-align: right;
        padding-right: 21px;
    }

    .events-info-box p {
        font-family: "roboto-light";
        color: #FFFFFF;
        font-size: 9px;
    }
}

/* events-sec end Here */
/* newsletter-sec start here */

.newsletter {
    background-image: url(../img/news.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 33px 0;
    height: 106px;

}

.news-wrapper {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.news-wrapper h4 {
    color: #828282;
    font-family: "roboto-light";
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 20px;
}

.news-wrapper input::placeholder {
    color: #828282;
    font-family: "roboto-light";
    text-transform: uppercase;
    font-size: 12px;

}

button.news-btn {
    background: #3F7163;
    color: #FFFFFF;
    font-family: "roboto-light";
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 31px;
    font-size: 11px;
}
button.news-btn:hover {
    color: #3F7163;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.book-btn {
    text-align: right;
}
@media (max-width:590px) {
    .news-wrapper {
        flex-direction: column;
    }

    .newsletter {
        height: 135px;
    }

    .news-wrapper h4 {
        margin-bottom: 9px;
        font-size: 17px;
    }

    button.news-btn {
        font-size: 10px;
        padding: 10px 12px;
    }
}

/* newsletter-sec end here */
/* book-your-slot start Here */
.book-your-slot {
    padding-bottom: 90px;
}

.book-slot-banner {
    background-image: url(../img/book-slot.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-wrapper h2 {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
}

.banner-wrapper {
    padding: 30px 30px;
}

.book-slot-banner {
    background-image: url(../img/book-slot.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
}

.book-control {
    background: #ffffff2b;
    backdrop-filter: blur(12px);
    border-radius: 0;
    border: transparent;
}

.book-control:focus {
    color: #FFFFFF;
    background: #ffffff2b;
    backdrop-filter: blur(12px);
    border-color: transparent !important;
    outline: 0;
    box-shadow: none;
}

.book-control1:focus {
    color: #FFFFFF;
    background: #ffffff2b;
    backdrop-filter: blur(12px);
    border-color: transparent !important;
    outline: 0;
    box-shadow: none;
}

.date-control svg {
    position: absolute;
    margin-top: 8px;
    margin-left: 7px;
    top: 30px;
    color: #FFFFFF;
    right: 14px;
}

.banner-wrapper .book-control1 {
    background: #ffffff2b;
    backdrop-filter: blur(12px);
    border-radius: 0;
    color: #B7B7B7;
    border: transparent;
    background-image: url(../img/select.png);
    background-repeat: no-repeat;
    background-position: center right 12px;
    appearance: none;
}

.banner-wrapper input::placeholder {
    font-family: "Roboto-Medium";
    text-transform: uppercase;
    font-size: 12px;
    color: #B7B7B7;
}

.banner-wrapper label {
    font-family: "Roboto-Regular";
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 13px;
}

.bk-btn {
    background: #FFFFFF;
    color: #3F7163;
    font-family: "roboto-light";
    border: 0;
    border-radius: 0;
    padding: 7px 25px;
    font-size: 10px;
}

.bk-btn:hover {
    color: #fff;
    background-color: #3F7163;
    border-color: #3F7163;
}

.slot-btn {
    display: flex;
    justify-content: right;
}

.book-btn:hover {
    color: #fff;
    background-color: #3F7163;
    border-color: #3F7163;
}

.bottom-img {
    padding: 10px 0;
}

.this-name-phone {
    padding-top: 9px;
}

@media (max-width: 590px) {
    .book-btn {
        text-align: center;
    }

    .book-slot-banner {
        width: 100%;
    }
}

/* book-your-slot end Here */
/* footer start here */
.footer {
    background-image: url(../img/footer-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    width: 100%;
    padding-bottom: 146px;
}

.footer span {
    color: #FFFFFF;
    margin-left: 15px;
}

.footer svg {
    color: #FFFFFF;
}

.footer .fa {
    color: #FFFFFF;
    font-size: 24px;
}

footer p {
    font-family: "roboto-light";
    color: #FFFFFF;
    font-size: 20px;
    text-transform: capitalize;
}

.footer-detail {
    padding-top: 105px;
}

.footer .email {
    display: flex;
    margin: 14px 0;
}

.number {
    display: flex;
    /* margin-top: 10px; */
}

.footer h3 {
    font-family: "BebasNeue-Regular";
    color: #FFFFFF;
    font-size: 46px;
}

.contact-us {
    margin-top: 47px;
    padding-bottom: 11px;
}

.contactus-detail {
    border-top: 1px solid #FFFFFF;
    padding-top: 32px;
}

.footer-form {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 343px;
}

.form-detail {
    width: 100%;
}

.footer-form .mail {
    background-color: #2e5040a6 !important;
    backdrop-filter: blur(4px);
    border: 1px solid #ddd6;
    color: #FFFFFF;
    border-radius: 0;
    padding: 16px 0.75rem;
}

.form-groupss {
    margin-top: 23px;
}

.form-groupss .mail {
    height: 199px;
    resize: none;
}

label {
    color: #FFFFFF;
    font-family: "roboto-light";
    font-size: 13px;
    text-transform: uppercase;
}
.send-btn {
    text-align: right;
    margin-top: 14px;
}

.send-btn .btns {
    border-radius: 0;
    background-color: #28B100 !important;
    color: #FFFFFF !important;
    font-family: "roboto-light";
    border-color: transparent;
    text-transform: uppercase;
    font-size: 11px;
}

.send-btn .btns:hover {
    color: #fff;
    background-color: transparent !important;
    border-color: #28B100 !important;
}

@media (max-width: 590px) {
    .footer {
        padding-bottom: 146px;
    }

    .number {
        justify-content: center;
    }

    .footer .email {
        justify-content: center;
    }

    .footer-form {
        padding-top: 13px;
    }
}

/* footer end here */
.read {
    /* padding: 20px 0px; */
    padding-bottom: 26px;
}

/* slick styling */
.slide-thisss .slick-prev:before {
    content: "\f104";
    font-family: 'FontAwesome';
    color: white;
    opacity: 3 !important;
}

.slide-thisss button.slick-prev.slick-arrow {
    position: absolute;
    bottom: 0px !important;
    top: 97%;
    left: -20px;
    ;
}

.slide-thisss button.slick-next {
    left: 18px;
    bottom: 3px;
    top: 97%;
}

.slide-thisss .slick-next:before {
    content: "\f105";
    font-family: 'FontAwesome';
    color: white;
    opacity: 3;
}
.schedule li {
    color: #fff;
    list-style: none;
}
